body {
    font-family: "Open Sans", sans-serif;
    background-color: #DB7093; 
}

h1 {
    color:#FFEFD5;
    font-weight: bold;
    background-color: #87CEEB;
    border: 3px solid #FFEFD5;
    border-radius: 5px;
}

#headerImage {
    border: solid 5px #DB7093;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-color: #87CEEB;
}

.jumbotron {
    background-color: #FFEFD5;
    align-items: center;
}

.jumbotron .row {
    margin: 0;
    padding: 10px;
    background-image: url(../img/headerBackground.jpg);
}

.jumbotron .col {
    margin: 0;
    padding: 0;
}

.jumbotron h1 {
    height: 100px;
    text-align: center;
    color: black;
    font-size: 80px;
    border-radius: 50px;
}